@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
*{outline:none;}
html, body {margin:0; padding:0; width:100%; height:100%;}
body{margin:0; color:#2c2c2c !important; position:relative; font:400 12px/14px 'Roboto', sans-serif !important; background:url(../images/bgnoise.png);}
#activityFormPanel{margin-top:65px !important;height: calc(100vh - 125px) !important;}
a{color:#2c2c2c}
.clearfix:after,.clearfix:before{content:''; display:table;}
.clearfix:after{clear:both; display:block;}
/*HEADER CSS*/
#PROCESSINSTANCEID_TEXT{color:#053c6d; margin-top: 1em; font-size: .9em;}
#header_toolbar{background:#c5c5c5 !important; height:38px !important;}
.header-2{-webkit-box-shadow:0 5px 8px 0 rgba(0,0,0,0.4); box-shadow:0 5px 8px 0 rgba(0,0,0,0.4); -webkit-transition:all 0.4s ease; transition:all 0.4s ease; background: #00c0f3; background: -moz-linear-gradient(left, #00c0f3 0%, #917bb9 50%, #053c6d 100%); background: -webkit-linear-gradient(left, #00c0f3 0%,#917bb9 50%,#053c6d 100%); background: linear-gradient(to right, #00c0f3 0%,#917bb9 50%,#053c6d 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c0f3', endColorstr='#053c6d',GradientType=1 );}
.project-title{color:#fff; font:200 20px/30px 'Roboto', sans-serif; text-shadow: 0px 2px 2px #00c0f3; text-transform:uppercase; margin:.2em 1em 0}
.project-subtitle{color:#fff; font-size:14px; margin-right:1.5em;text-shadow: 0px 2px 2px #00c0f3;}
main{/*margin:7em 0;margin: 0 0 7em 0; */ padding-bottom: 90px; top: 2em; position: relative;}
hr{background-image: linear-gradient(to right, rgba(0,0,0,0), #c5c5c5,rgba(0,0,0,0))!important; border:0; height: 1px;}
/*Form CSS*/
/****  floating-Lable style start ****/
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {/*top: -2rem; */color:#e77817; left:0; -webkit-transition: all 0.125s ease; transition: all 0.125s ease;}
.form-group {position:relative; margin:2.5em 0 2em;}
.form-group-radio,.form-group-checkbox{position: initial !important;}
.form-control , .form-control-select, .form-control-textarea {font-size:13px; box-shadow:none; border-radius:.5em; padding:2px 4px; display: block; width:100%; height:22px; background-color: transparent; border:none; border:1px solid #00c0f3;}
.form-control:focus , .form-control-select:focus, .form-control-textarea:focus{outline:none;border-bottom:2px solid #e77817;}
label {color:#5c5c5c; font-size:13px; font-weight:normal; position:absolute; pointer-events:none; left:10px; top:5px; transition:0.2s ease all; -moz-transition:0.2s ease all; -webkit-transition:0.2s ease all;}
.form-control:focus ~ label, .form-control-select:disabled ~ label, .form-control-textarea ~ label, .form-control:not(:placeholder-shown) ~ label {top:-18px; left:0; font-size:14px; color:#e77817 !important;}
.form-control-select:disabled{background: #eee;}
.form-control-select:focus ~ label , .form-control-select:not([value=""]):valid ~ label {top:-18px; left:0; font-size:13px; color:#e77817;}
/* active state */
.form-control:focus ~ .bar:before, .form-control:focus ~ .bar:after, .form-control-select:focus ~ .bar:before, .form-control-select:focus ~ .bar:after {width:50%;}
*, *:before, *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.floating-textarea {min-height: 30px; max-height: 260px; overflow:hidden; overflow-x: hidden;}
textarea.form-control{resize: none;}
/* highlighter */
.highlight {position:absolute; height:50%; width:100%; top:15%; left:0; pointer-events:none; opacity:0.5;}
/* active state */
.form-control:focus ~ .highlight , .form-control-select:focus ~ .highlight {-webkit-animation:inputHighlighter 0.3s ease; -moz-animation:inputHighlighter 0.3s ease; animation:inputHighlighter 0.3s ease;}
/* animation */
@-webkit-keyframes inputHighlighter {from {background:#5264AE;}to{width:0; background:transparent;}}
@-moz-keyframes inputHighlighter {from {background:#5264AE;}to{width:0; background:transparent;}}
@keyframes inputHighlighter {from {background:#5264AE;}to{width:0; background:transparent;}}
.form-control{font-size:1em;}
select.form-control:not([size]):not([multiple]){height:29px;}
.form-control::placeholder{color:#ccc;}


/*FOOTER CSS*/
footer{position: fixed; z-index:9; display:block; bottom: 0; left: 0; width: 100%;background: #00c0f3; -webkit-box-shadow:0 -5px 8px 0 rgba(0,0,0,0.4); box-shadow:0 -5px 8px 0 rgba(0,0,0,0.4); background: -moz-linear-gradient(left, #00c0f3 0%, #917bb9 50%, #053c6d 100%); background: -webkit-linear-gradient(left, #00c0f3 0%,#917bb9 50%,#053c6d 100%); background: linear-gradient(to right, #00c0f3 0%,#917bb9 50%,#053c6d 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c0f3', endColorstr='#053c6d',GradientType=1 ); height:20px; line-height:20px; font-size:9px; color:#fff; padding-left:5px;}


/*LOADER CSS*/
.loading{position:absolute;left:50%;top:50%;z-index:2;padding:20px;margin-left:-80px;width:200px;color:#000}
.mask{position:fixed;display:block;left:0;top:0;right:0;bottom:0;height:100%;z-index:9999;background-color:rgba(0,0,0,.5)}
.cssload-loader{position:fixed;top:47%;left:0;right:0;margin:0 auto;width:29px;height:29px;border:4px solid #917bb9;z-index:9999;animation:cssload-loader 2.3s infinite ease;-o-animation:cssload-loader 2.3s infinite ease;-ms-animation:cssload-loader 2.3s infinite ease;-webkit-animation:cssload-loader 2.3s infinite ease;-moz-animation:cssload-loader 2.3s infinite ease}
.field-loader .cssload-loader{position:relative;top:auto;left:auto;right:auto;margin:auto;width:10px;height:10px;border:1px solid #917bb9;z-index:9999;animation:cssload-loader 2.3s infinite ease;-o-animation:cssload-loader 2.3s infinite ease;-ms-animation:cssload-loader 2.3s infinite ease;-webkit-animation:cssload-loader 2.3s infinite ease;-moz-animation:cssload-loader 2.3s infinite ease}
.cssload-loader-inner{vertical-align:top;display:inline-block;width:100%;background-color:#00c0f3;animation:cssload-loader-inner 2.3s infinite ease-in;-o-animation:cssload-loader-inner 2.3s infinite ease-in;-ms-animation:cssload-loader-inner 2.3s infinite ease-in;-webkit-animation:cssload-loader-inner 2.3s infinite ease-in;-moz-animation:cssload-loader-inner 2.3s infinite ease-in}
.processRequest{position:fixed;top:53%;left:0;color:#fff;z-index:9999;font-size:13px;right:0;text-align:center}
@keyframes cssload-loader{
    0%{transform:rotate(0)}
    25%,50%{transform:rotate(180deg)}
    100%,75%{transform:rotate(360deg)}
}
@-o-keyframes cssload-loader{
    0%{transform:rotate(0)}
    25%,50%{transform:rotate(180deg)}
    100%,75%{transform:rotate(360deg)}
}
@-ms-keyframes cssload-loader{
    0%{transform:rotate(0)}
    25%,50%{transform:rotate(180deg)}
    100%,75%{transform:rotate(360deg)}
}
@-webkit-keyframes cssload-loader{
    0%{transform:rotate(0)}
    25%,50%{transform:rotate(180deg)}
    100%,75%{transform:rotate(360deg)}
}
@-moz-keyframes cssload-loader{
    0%{transform:rotate(0)}
    25%,50%{transform:rotate(180deg)}
    100%,75%{transform:rotate(360deg)}
}
.flip-container,.flipper{-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d}
@keyframes cssload-loader-inner{
    0%,100%,25%{height:0%}
    50%,75%{height:100%}
}
@-o-keyframes cssload-loader-inner{
    0%,100%,25%{height:0%}
    50%,75%{height:100%}
}
@-ms-keyframes cssload-loader-inner{
    0%,100%,25%{height:0%}
    50%,75%{height:100%}
}
@-webkit-keyframes cssload-loader-inner{
    0%,100%,25%{height:0%}
    50%,75%{height:100%}
}
@-moz-keyframes cssload-loader-inner{
    0%,100%,25%{height:0%}
    50%,75%{height:100%}
}

/*TABLE CSS STARTS*/
.dataTables_length, .dataTables_filter{display:none;}
.table-wrapper {background:#fff; position:relative; margin:0; width:100%; border-radius:3px; box-shadow:0 1px 1px rgba(0,0,0,.05);}
.table-title {background:#273675; color:#fff;}
.table-title h2 {margin:-7px 0 3px 10px; font-size:16px;}
.table-title .btn-group {float:none;}
.table-title .btn {color:#fff; float:none; font-size:13px; border:none; min-width:50px; border-radius:2px; border:none; outline:none !important; margin-left:10px;}
.table-title .btn i {float:left; font-size:21px; margin-right:5px;}
.table-title .btn span {float:left; margin-top:2px;}
table.table{margin:0 auto; border:1px solid #00c0f3; font-size:12px; background:rgba(197,197,197,.2);}
table.table th{background:#00c0f3; color:#053c6d; font-size:12px;}
table.table tr th, table.table tr td {border-color:rgba(197,197,197,1); padding:5px; vertical-align:middle;}
/*table.table tr th:first-child {width:60px;}*/
table.table tr th:last-child {width:100px; text-shadow:none !important;}
table.table-striped tbody tr:nth-of-type(odd) {background-color:#ddd;}
table.table-striped.table-hover tbody tr:hover {background:#f5f5f5;}
table.table th{margin:0 5px; cursor:pointer;}   
/*table.table td:last-child i {opacity:0.9; font-size:22px; margin:0 5px;}*/
table.table td a {color:#8e8e8e; display:inline-block; text-decoration:none; outline:none !important; text-shadow:none !important;}
table.table td a:hover {color:#053c6d; font-weight:bold;}
table.table td a.edit {color:#f98d2b;}
table.table td a.delete {color:#053c6d;}
/*table.table td i {font-size:20px; position:relative; top:5px !important;}*/
table.table .avatar {border-radius:50%; vertical-align:middle; margin-right:10px;}
.pagination {float:right; margin:0 0 5px;}
.pagination li a {border:none; font-size:13px; min-width:30px; min-height:30px; color:#999 !important; margin:0 2px; line-height:30px; border-radius:2px !important; text-align:center; padding:0 6px;}
.pagination li a:hover {color:#666;}    
.pagination li.active a, .pagination li.active a.page-link {background:#f98d2b; border:1px solid #fff; color:#fff !important;}
.pagination li.active a:hover {background:#f07f19; border-color: #fff;}
.pagination li.disabled i {color:#00c0f3;}
.pagination li i {font-size:16px; padding-top:6px;}
table.dataTable.no-footer{border:1px solid #00c0f3;}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{border:1px solid #e2e2e2 !important; line-height: 1.2em !important;} 
div.dataTables_wrapper div.dataTables_info{padding:1em;}
.table-1{width:100%;}
/*TABLE CSS END*/

.content-container{min-height:500px;}

/*Inner Page CSS*/
.main-container{background:#fff !important; margin:0 0 1em; padding:0 0 2em 0; border:1px solid #00c0f3;}
.dropshadow-effect {position: relative; margin:0 2em;}
.dropshadow-effect:before, .dropshadow-effect:after {z-index: -1; position: absolute; content: ""; bottom: 1.5em; width: 50%; top: 95%; box-shadow: 0 1em .5em  rgba(0,0,0,0.4);}
.dropshadow-effect:before {transform: rotate(-3deg); left: 0.5em;}
.dropshadow-effect:after {transform: rotate(3deg); right: 0.5em;}
.main-container h1{font-size:14px; font-weight:400; color:#fff; background:#917bb9; margin:0; padding:.5em; text-transform:uppercase;}
.main-container section{border:1px solid #ccc; background:#fefefe; margin:1em 1.5em;}
.section-div{border-bottom:1px solid #ccc; background:#fefefe; margin:1em 1.5em;}
.main-container section h2,.section-head h2{color:#616161; font-weight:500; font-size:13px; padding:.5em; border-left:8px solid #917bb9; background:#ccc; margin:0;}
.content-block{margin:1em;}
h3{margin:0 0 .5em; font-weight:normal; font-size:14px; color:#e77817;}
.orange{color:#e77817;}
.outstanding-date{margin:0 1em;padding:1em 1.5em; background: rgba(138, 117, 176, .1); min-height:8em; webkit-box-shadow: 0 5px 8px 0 rgba(0,0,0,0.4); box-shadow: 0 5px 8px 0 rgba(0,0,0,0.4); -webkit-transition: all 0.4s ease; transition: all 0.4s ease;}
.outstanding-date input{display:block; float:left; width:auto;}

/*Tab CSS*/
.no-gutter > [class*='col-'] {padding-right:0; padding-left:0;}
.fancyTab {text-align: center; padding:10px 0 0; background-color: #eee; box-shadow: 0 0 0 1px #ddd; top:10px; transition: top .2s;}
li.fancyTab:before {content: ""; width: 100%; height: 2px; background: #00c0f3; background: -moz-linear-gradient(left, #00c0f3 0%, #917bb9 50%, #053c6d 100%); background: -webkit-linear-gradient(left, #00c0f3 0%,#917bb9 50%,#053c6d 100%); background: linear-gradient(to right, #00c0f3 0%,#917bb9 50%,#053c6d 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c0f3', endColorstr='#053c6d',GradientType=1 ); display: block; margin-top: -10px;}
.fancyTab.active {top:0; transition:top .2s;}
.whiteBlock {display:none;}
.fancyTab.active .whiteBlock {display:block; height:2px; bottom:-2px; background-color:#fff; width:99%; position:absolute; z-index:1;}
.fancyTab a {font-size:.9em; font-weight:300; transition:.2s; color:#053c6d}
/*.fancyTab .hidden-xs {white-space:nowrap;}*/
.fancyTabs {border-bottom:2px solid #ddd; margin: 15px 0 0;}
li.fancyTab a {padding-top: 15px; top:-15px; color:#053c6d !important;}
li.fancyTab.active a {padding-top: inherit; color:#053c6d !important; font-weight:400;}
.fancyTab .fa {font-size: 22px; width:100%; padding: 0px 0 5px; color:#666;}
.fancyTab.active .fa {color: #cfb87c;}
.fancyTab a:focus {outline:none;}
.fancyTabContent {border-color: transparent; box-shadow: 0 -2px 0 -1px #fff, 0 0 0 1px #ddd; position:relative; background-color:#fff;}
.nav-tabs > li.fancyTab.active > a, 
.nav-tabs > li.fancyTab.active > a:focus,
.nav-tabs > li.fancyTab.active > a:hover {border-width:0;}
.nav-tabs > li.fancyTab:hover {background-color:#f9f9f9; box-shadow: 0 0 0 1px #ddd;}
.nav-tabs > li.fancyTab.active:hover {background-color:#fff; box-shadow: 1px 1px 0 1px #fff, 0 0px 0 1px #ddd, -1px 1px 0 0px #ddd inset;}
.nav-tabs > li.fancyTab:hover a {border-color:transparent;}
.nav.nav-tabs .fancyTab a[data-toggle="tab"] {background-color:transparent; border-bottom:0;}
.nav-tabs > li.fancyTab:hover a {border-right: 1px solid transparent;}
.nav-tabs > li.fancyTab > a {margin-right:0; border-top:0; margin-bottom: -18px; padding-top:18px;}
.nav-tabs > li.fancyTab {margin-right:0; margin-bottom:0; width:25% !important; font-weight:bold; font-size:16px;}
.nav-tabs > li.fancyTab:last-child a {border-right: 1px solid transparent;}
.nav-tabs > li.fancyTab.active:last-child {border-right: 0px solid #ddd; box-shadow: 0px 2px 0 0px #fff, 0px 0px 0 1px #ddd;}
.fancyTab:last-child {box-shadow: 0 0 0 1px #ddd;}
.tabs .nav-tabs li.fancyTab.active a {box-shadow:none; top:-12px;}
.fancyTab.active {background: #fff; box-shadow: 1px 1px 0 1px #fff, 0 0px 0 1px #ddd, -1px 1px 0 0px #ddd inset; padding-bottom:10px;}
/*.arrow-down {display:none; width: 0; height: 0; border-left: 20px solid transparent; border-right: 20px solid transparent; border-top: 22px solid #ddd; position: absolute; top: -1px; left: calc(50% - 20px);}
.arrow-down-inner {width: 0; height: 0; border-left: 18px solid transparent; border-right: 18px solid transparent; border-top: 12px solid #fff; position: absolute; top: -22px; left: -18px;}*/
.fancyTab.active .arrow-down {display: block;}
@media (max-width: 1200px) {
    .fancyTab .fa {font-size: 36px;}
    .fancyTab .hidden-xs {font-size:22px;}
}
@media (max-width: 992px) {
    .fancyTab .fa {font-size: 33px;}
    .fancyTab .hidden-xs {font-size:18px; font-weight:normal;}
}
@media (max-width: 768px) {
    .fancyTab > a {font-size:18px;}
    .nav > li.fancyTab > a {padding:15px 0; margin-bottom:inherit;}
    .fancyTab .fa {font-size:30px;}
    .nav-tabs > li.fancyTab > a {border-right:1px solid transparent; padding-bottom:0;}
    .fancyTab.active .fa {color: #333;}
}
.section-text:hover, .sub-link-div ul li:hover {color:#053c6d; font-weight:bold; cursor:pointer;}
.text-success{color:#e77817;}
.sub-link-div ul{margin:0; padding:0;}
.sub-link::after{content:"\2193"; padding-left:10px; color:#e77817;}
.sub-link-div ul li{padding-top:.5em; list-style:none; margin:0; font-size:12px;}
.sub-link-div ul li:before{content:'\27BA'; padding:0 10px; color:#e77817;}

/******************************** Customized CSS*****************************************/
/*for button*/
.sdc{background:#e77817 !important; -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,0.4); box-shadow:0 2px 5px 0 rgba(0,0,0,0.4); color:#fff !important; border:1px solid #fff !important; border-radius:0px !important; text-align:center; cursor:pointer; padding:5px 10px !important; margin:0 .2em !important; line-height:inherit !important; font-size: 12px;}
.sdc:hover{color:#053c6d !important; background:#00c0f3 !important; border:1px solid #053c6d !important;}

.ui-layout-pane, .box .content{background: none !important;}
header > div > div > div{height: auto;}
#header_toolbar h1{line-height:22px !important;}
.toolmenu{width:auto !important; float:right; margin-top:.3em}
.sdc img{display:none;}
.dataTables_wrapper{text-shadow:none !important;}
.sub-header{text-decoration: underline;font-size:120%;}
.err{background-color:white;border:1px solid red !important;border-radius:4px;border-bottom-width: 3px;box-shadow: inset 0px 0px 1px 1px red !important;}
menu{text-align: right;top: 1.5em;position: absolute;right: 35px;background-color: #e77817;color: white;border: 1px solid white;text-align: center;padding: 5px;box-shadow: 1px 1px 2px 3px #ccc;cursor: pointer;}

.tab-container-content{margin:0 1em;}
.table-width-controller{width: 100%;overflow: auto;}

/*Guide Line Box CSS*/
.guideline-box{margin:1em 0; padding:1em 0;}
.guideline-title, .main-container h4{font-weight:400; margin-bottom:1em; text-transform:uppercase; font-size:1.2em;}
.guideline-content{line-height:1.5em; padding:1em; border:1px solid #00c0f3; background:#fff;}
.guideline-content ul{margin:0; padding:0;}
.guideline-content li{border-left:5px solid #917bb9; padding:1em; background:#efefef; margin-bottom:1em; list-style:none;}

.collapse-box-title{border-bottom:1px solid #ccc; padding-bottom: .5em;background-color:#eee;}

.box .content{border:0px !important}

/*Go Top*/
#goTop {display: none; position: fixed; bottom: 20px; right: 30px; z-index: 99; font-size: 18px; border: none; outline: none; background: rgba(145, 123, 185, .7); height: 40px; color: white; cursor: pointer; padding:10px 15px; border-radius:4px 4px 0 0;}
#goTop:hover {background-color: rgba(145, 123, 185, 1);}

/*Add Remove button*/
.remove-button{background:url(../images/remove-icon.png) no-repeat center center; width:18px; height:18px; border:none;}
.view-button{background:url(../images/view-icon.png) no-repeat center center; width:18px; height:18px; border:none;}
.add-icon{background:url(../images/add-icon.png) no-repeat center center; width:18px; height:18px; border:none;}
.add-button{float:right; display: inline-block; height: 30px; border:0; width: 30px; text-align:right; font-size:20px;  margin: 0 0em 1em 0; background:#917bb9; color:#fff; border-bottom-left-radius: 40px;}
.add-button:hover{background:#00c0f3; color:#053c6d;}

/*Sticky Menu CSS*/
.listall{position:fixed; z-index:999999; background:#fff; width:50%; margin-left:25%; height:400px; overflow:auto;top:20%;}
.listall ul li{}
.nav-tgl {display: inline-block; position:fixed; cursor:pointer; z-index: 100; right: 20px; top:98px; width: 40px; height: 40px; border-radius:50%; border: none; padding: 0; background:#eea05c; line-height: 0.6; text-align: center; border:2px solid #fff;}
.nav-tgl:hover{background:rgba(231,120,23,1);}
.nav-tgl > span {display: inline-block; position: relative; height: 2px; width: 22px; border-radius: 1px; background: #fff; vertical-align: middle;}
.nav-tgl > span:before, .nav-tgl > span:after {display: inline-block; position: absolute; content: ""; height: 2px; border-radius: 1px; background: #fff; transition: all 200ms;}
.nav-tgl > span:before {top: -8px; left: 2px; width: 18px;}
.nav-tgl > span:after {top: 8px; left: 2px; width: 18px;}
.nav-tgl:focus {outline: none;}
.nav-tgl:hover > span:after, .nav-tgl:hover > span:before {width:22px; left: 0;}
.nav:before {display: block; position: fixed; top: 0; left: 0; content:""; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.8); transition: all 500ms ease-in-out; clip-path: circle(15px at calc(100% - 55px) 125px); visibility: hidden; z-index:3;}

.menu.active .nav:before {visibility: visible; clip-path: circle(100%);}
.nav-tgl-btn{background:none; border:0; padding:0;}
.nav-tgl-btn span{display:inline-block; background: url(../images/menu-icon.svg) no-repeat; background-size: cover; width: 20px; height: 20px; border:0;}
.menu.active .nav-tgl{display: none;}
.menu.active .nav-tgl-btn > span {background:rgba(231,120,23,1); border:2px solid #fff; margin-top: -60px; width: 40px; height: 40px; right:20px; border-radius: 50%; position: fixed;}
.menu.active .nav-tgl-btn > span:after, .menu.active .nav-tgl-btn > span:before {display: inline-block; position: absolute; content: ""; height: 2px; border-radius: 1px; background: #fff; transition: all 200ms; top: 18px; left: 7px; width: 24px;}
.menu.active .nav-tgl-btn > span:after {transform: rotate(-45deg);}
.menu.active .nav-tgl-btn > span:before {transform: rotate(45deg);}
.menu.active .floating-nav:hover .floating-submenu{max-height: 0px;}

.floating-submenu {border:1px solid orange; -webkit-box-shadow:0 5px 8px 0 rgba(0,0,0,0.2); box-shadow:0 5px 8px 0 rgba(0,0,0,0.2); -webkit-transition:all 0.4s ease; transition:all 0.4s ease; display: block; position: fixed; width: 30px; padding:38px 0 0 0; margin:0; border-radius:40px; right:25px; top:98px; background:white; z-index:5;list-style: none; line-height: 2em; overflow: hidden; max-height:0; transition: max-height 0.7s ease-in;}
.floating-submenu li{display:block; text-align:center; border-bottom:1px solid lightgrey; padding: 5px 0;}
.floating-submenu li:last-child {border-bottom:0px;}
.floating-submenu img{height:20px; width: 20px;}
.floating-nav:hover .floating-submenu {max-height: 200px;}

/*Datepicker CSS*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, 
.ui-widget-header .ui-state-highlight{border: 1px solid #00c0f3 !important; background: #917bb9 !important; color: #fff !important;}
.ui-widget-header {border: 1px solid #00c0f3 !important; background: #917bb9 !important; color: #fff !important;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{border: 1px solid #00c0f3 !important; background: #917bb9 !important;}
.ui-state-default:hover, .ui-widget-content:hover .ui-state-default:hover{border: 1px solid #00c0f3 !important; background: #917bb9 !important; color:#fff !important;}
.ui-datepicker .ui-datepicker-title{color:#2c2c2c;}
.ui-widget-header .ui-state-hover{background:#917bb9 !important;}


/*Modal Container CSS*/
.modal-popup{display:none;position: fixed;z-index: 1;left: 0;top:0;width: 100%;height: 100%;overflow: auto;background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.8);}
.modal-container{width: 80%; margin: 10em auto; background:#fff; min-height: 500px;}
.modal-container section{margin:0;}
.right-button-panel{background: #ccc; padding:0.35em;}
.right-button-panel input{padding-left:1em;}


.sub-title{font-size:12px !important;}
.inline-input{display:inline; width:auto !important; margin: .5em; height: 22px;}
.whiteInput{background-color:white;}

/*Textarea Expand*/
.tx-editor-wrapper {position: relative;}
.tx-editor-wrapper textarea{border-radius:.5em; border:1px solid #00c0f3; background: #fff;}
.tx-editor-wrapper .tx-editor.expanded {position: fixed;top: 20% !important;left: 0;width: 80%;height: 70%;z-index: 500;}
.tx-editor-wrapper .tx-editor {height: 70px;}
.tx-editor-wrapper .tx-editor .tx-icon {position: absolute;right: 5px;top: 5px;width: 17px;height: 17px;background-image: url('../images/expand-icon.png');cursor: pointer;z-index: 2;}
.tx-editor-overlay {position: fixed;top: 0;left: 0;right: 0;bottom: 0; background: rgba(0, 0, 0, 0.8); transition: all 500ms ease-in-out; z-index: 2;opacity: 0;}
.table-border-bottom{border-bottom: 1px solid #f4f4f4 !important;}
/*SIDE Slide Panel*/
#mySidenav{position:absolute;}
#mySidenav .form-group{margin:1em 0 0; z-index: 9;}
.left-slide-icon{font-size:30px;cursor:pointer;position:absolute; top:100px; left:0; color:#917bb9;}
.left-slide-icon:hover{color:#e77817;}
.sidenav-content{padding:0 2em;}
.sidenav-content h1{font-size:1.5em; margin-bottom: 1em;color: #053c6d;border-bottom: 2px solid #053c6d;padding-bottom: .5em;text-transform: uppercase;}
.sidenav {height: 100%;width: 0;position: fixed;z-index: 1;top: 0;left: 0;background-color: #fff;overflow-x: hidden;transition: 0.5s;padding-top: 20px;}
.sidenav a {padding: 8px 8px 8px 32px;text-decoration: none;font-size: 25px;color: #818181;display: block;transition: 0.3s;}
.sidenav a:hover {color: #f1f1f1;}
.sidenav .closebtn {position: absolute;top: 0;right: 0;font-size: 36px;margin-left: 50px;}
#main {transition: margin-left .5s;}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

h5{color:#917bb9; border-bottom:1px solid #917bb9; font-weight:normal; font-size:14px; margin:1em 0 0 0; padding: 0 0 8px}


